<ul id="social">
    <li><a href="{{ site.github_url }}" title="Browse my GitHub repository" class="fab fa-github"></a></li>
    <li><a href="{{ site.twitter_url }}" title="Follow me on Twitter!" class="fab fa-twitter"></a></li>
    <li><a href="mailto:{{ site.email_website }}" title="Send me an email" class="fa fa-edit"></a></li>
    <li><a href="{{ site.gpg_url }}" title="My GnuPG public key" class="fa fa-lock"></a></li>
</ul>
<p>&copy; <a href="{{ site.url }}">Davide De Rosa</a>. All rights reserved.</p>
